/* ClassInfo.css */
.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-top: 90px;
    margin-left: 20%;
    width: 75%;
  }
  
  .right-info img {
    max-height: 500px;
    max-width: 400px;
    margin-right: 190px;
  }
  
  .left-info {
    text-align: center;
  }
  
  .left-info h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .left-info p {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: justify;
    letter-spacing: 0.2px;
  }
  
  .reserve-class-btn {
    background-color: #faa51b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .reserve-class-btn:hover {
    background-color: #e69417;
    transform: scale(1.05);
  }
  
  @media screen and (max-width: 576px) {
    .info {
      flex-direction: column;
      margin: 40px auto;
      width: 90%;
      gap: 30px;
    }
    
    .left-info {
      text-align: center;
    }
    
    .right-info img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
    }
  }